<!DOCTYPE html>
<html lang="en">

	<head>

		<%- include(`${partialsDir}/meta`) %>

		<title>Project</title>
	</head>

	<body>
		
		<div id="main-content"></div>

		<%- include('./styles/main') %> 

		<script defer src="/scripts/home/main.js"></script>
	</body>
</html>